* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
  
}

/*Background-color*/

.BG {
    position: absolute;
    left: 0%;
    width: 100%;
    height: 200%;
    background: linear-gradient(to right,#3f2682, #33317d,#304091,#193980);
}

/*Header*/

.logo img {
    position: absolute;
    left: 0%;
    top: 0.4%;
    opacity: 0.2;
    width: 160px;
    height: 120px;
}

.logo h1 {
    position: absolute;
    left: 5%;
    top: 5%;
    color: white;
    font-family: "Montserrat";
    cursor: pointer;
}

nav button {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.7s ease, transform 0.7s ease;
}

.btnnav1 {
    position: absolute;
    left: 55%;
    top: 5%;
    width: 140px;
    height: 45px;
    background-color: #64cee3;
    border-radius: 25px;
    color: #fff;
    border: none;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 0 5px #64cee3;
}

.btnnav1:hover {
    box-shadow: 0 0 15px #64cee3;
    transition: 0.5s;
}

.btnnav2 {
    position: absolute;
    left: 69%;
    top: 5%;
    width: 140px;
    height: 45px;
    background-color: #f5f5dc;
    border-radius: 25px;
    color: #000;
    border: none;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 0 5px #f5f5dc;
}

.btnnav2:hover {
    box-shadow: 0 0 15px #f5f5dc;
    transition: 0.5s;
}

.btnnav3 {
    position: absolute;
    left: 82.8%;
    top: 5%;
    width: 140px;
    height: 45px;
    background-color: #59c291;
    border-radius: 25px;
    color: #fff;
    border: none;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 0 9px #59c291;
}

.btnnav3:hover {
    box-shadow: 0 0 15px #59c291;
    transition: 0.5s;
}

/*Main*/

.main-heading {
    position: absolute;
    left: 5%;
    top: 34%;
    color: white;
    font-family: "Poppins";
    font-size: 70px;
    cursor: pointer;
    opacity: 1;
    transform: translateY(80px);
}

.headset {
    position: absolute;
    left: 28%;
    top: 30%;
    width: 700px;
    height: 390px;
    cursor: pointer;
    background: transparent;
}

.prbtn1 {
    position: absolute;
    left: 5%;
    top: 65%;
    width: 180px;
    height: 60px;
    background-color: #fff;
    border-radius: 40px;
    border: none;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 0 8px #fff;
}

.prbtn1:hover {
    box-shadow: 0 0 20px #fff;
    transition: 0.4s;
}

.prbtn2 {
    position: absolute;
    left: 22%;
    top: 65%;
    width: 180px;
    height: 60px;
    background-color: #000;
    color: white;
    border-radius: 40px;
    border: none;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 0 8px #000;
}

.prbtn2:hover {
    box-shadow: 0 0 20px #000;
    transition: 0.4s;
}

.main-headingtwo {
    position: absolute;
    left: 40%;
    top: 110%;
    color: white;
    font-family: "Poppins";
    font-size: 70px;
    cursor: pointer;
}

.Mouse {
    width: 440px;
    height: 400px;
    position: absolute;
    left: 5%;
    top: 110%;
}

.pr2btn1 {
    position: absolute;
    left: 40%;
    top: 140%;
    width: 180px;
    height: 60px;
    background-color: #fff;
    border-radius: 40px;
    border: none;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 0 8px #fff;
}

.pr2btn1:hover {
    box-shadow: 0 0 20px #fff;
    transition: 0.4s;
}

.pr2btn2 {
    position: absolute;
    left: 58%;
    top: 140%;
    width: 180px;
    height: 60px;
    background-color: #000;
    color: white;
    border-radius: 40px;
    border: none;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 0 8px #000;
}

.pr2btn2:hover {
    box-shadow: 0 0 20px #000;
    transition: 0.4s;
}

@media (max-width:450px){

   .btnnav1 {
    position: absolute;
    left: 35%;
    top: 5%;
    width: 65px;
    height: 25px;
    font-size: 12px;
}

.btnnav2 {
    position: absolute;
    left: 53%;
    top: 5%;
    width: 65px;
    height: 25px;
    font-size: 12px;
}

.btnnav3 {
    position: absolute;
    left: 71%;
    top: 5%;
    width: 65px;
    height: 25px;
    font-size: 12px;
}

    .logo img {
        width: 90px;
        height: 70px;
        left: 0%;
        top: 2.5%;
    }
    .logo h1{
        font-size: 20px;
    }

    .main-heading {
        font-size: 30px;
        left: 10%;
    }
    .headset {
        width: 240px;
        height: 120px;
        left: 45%;
        top: 35%;
    }
    .prbtn1 {
        left: 10%;
        width: 90px;
        font-size: 14px;
        top: 49%;
        height: 41px;
    }
    .prbtn2 {
        left: 35%;
        width: 94px;
        font-size: 14px;
        top: 49%;
        height: 44px;
    }
    .main-headingtwo {
        font-size: 30px;
        left: 10%;
    }

   .pr2btn2 {
    width: 60px;
   }

   .footer-logo img {
    position: absolute;
    left: 2%;
    top: 25%;
    width: 50px;
    height: 20px;
    }
}


/*footer*/

footer {
    position: absolute;
    top: 190%;
    width: 100%;
    height: 53vh;
    background-color: #929493;
    bottom: 0px;
}

.footer-logo img {
    position: absolute;
    left: 2%;
    top: 29%;
    opacity: 0.4;
    width: 160px;
    height: 120px;
}

.logoh1 {
    position: absolute;
    top: 37%;
    left: 7%;
    color: white;
    font-family: "Montserrat";
    cursor: pointer
}

.about-us {
    position: absolute;
    left: 27%;
    width: 300px;
    height: 300px;
    top: 15%;
}

.about-us h2 {
    position: absolute;
    left: 15%;
    top: 10%;
    color: white;
    font-family: "Nunito";
    cursor: pointer;
    font-size: 35px;
}

.about-us li {
    color: white;
    position: relative;
    padding: 5px;
    left: 15%;
    top: 30%;
    font-family: "Montserrat";
    font-size: 20px;
    cursor: pointer;
}

.services {
    position: absolute;
    left: 46%;
    width: 300px;
    height: 300px;
    top: 15%;
}

.services h2 {
    position: absolute;
    left: 22%;
    top: 10%;
    color: white;
    font-family: "Nunito";
    cursor: pointer;
    font-size: 35px;
}

.services li {
    color: white;
    position: relative;
    padding: 5px;
    left: 22%;
    top: 30%;
    font-family: "Montserrat";
    font-size: 20px;
    cursor: pointer;
}

.careers {
    position: absolute;
    left: 67%;
    width: 300px;
    height: 300px;
    top: 15%;
}


.careers h2 {
    position: absolute;
    left: 38%;
    top: 10%;
    color: white;
    font-family: "Nunito";
    cursor: pointer;
    font-size: 35px;
}

.careers li {
    color: white;
    position: relative;
    padding: 5px;
    left: 37%;
    top: 30%;
    font-family: "Montserrat";
    font-size: 20px;
    cursor: pointer;
}